/GameState4Net/obj
/GameState4Net/bin
/GameState4Net.CSGO/obj
/GameState4Net.CSGO/bin
/packages
/.vs
/GameState4Net.Samples.Console/obj
/GameState4Net.Samples.Console/bin
/GameState4Net.Samples.Gui/obj
/GameState4Net.Samples.Gui/bin
